    <!-- <div class="mr-5">
          <div class="container-fluid">
         <div class="row ">
       <pre class="card card-block card-header">{{uncheckableRadioModel || 'null'}}</pre> 
      <div class="btn-group " btnRadioGroup [(ngModel)]="uncheckableRadioModel">
        <label class="btn btn-lg btn-info" btnRadio="Left"
               uncheckable tabindex="0" role="button">Manage Users</label>
        <label class="btn btn-lg btn-info" btnRadio="Right"
               uncheckable tabindex="0" role="button">Manage Teams</label>
      </div>
    </div>
  </div>
    </div> -->

    <div>
      <tabset>
        <tab >
            <ng-template tabHeading>
                <b>Manage Users</b>
              </ng-template>
          <div class="position">
            <div class="row">
              <nav class="navbar">
                <input class="form-control" type="text" name="search" placeholder="Search..." [(ngModel)]="filter">
              </nav>
      
              <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
                      Department
                    </th>
                    <th class="th-sm" style="cursor: pointer" (click)="sort('name')">
                      Name
                      <span class="fas fa-sort" *ngIf="key =='name'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
                    </th>
      
                    <th class="th-sm" style="cursor: pointer" (click)="sort('email')">
                      Email
                      <span  class="fas fa-sort" *ngIf="key =='email'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
                    </th>
                    <th class="th-sm" style="cursor: pointer" (click)="sort('manager_ID')">
                      Manager
                      <span class="fas fa-sort" *ngIf="key =='manager_ID'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
                    </th>
                    <th class="th-sm" style="cursor: pointer" (click)="sort('isDeleted')">
                     Deleted
                      <span class="fas fa-sort" *ngIf="key =='isDeleted'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
                    </th>
        
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
        
                  <tr *ngFor="let user of usersTeam | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <th scope="row">{{ ((p-1) * itemsPerPage) + i+1}}</th>
                    <td>{{departamente[user.deP_ID]}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.manager_ID}}</td>
                    <td >
                        <div class="custom-control custom-switch">
                            <input ks type="checkbox" class="custom-control-input" id="{{user.id}}"  (change)="onchange(user)" [checked]="user.isDeleted">
                            <label class="custom-control-label" for="{{user.id}}"></label>
                          </div>
                    </td>
                    <td>
                      <a [routerLink]="['/all/update/', user.id]"  >
                        <i class="far fa-edit fa-lg"
                          tooltip="Edit! " 
                          style="cursor: pointer"
                          placement="right">
                        </i>
                      </a>
                    </td>
                    <td><a class="delete"  (click)="onDelete()">
                      <i class="far fa-trash-alt fa-lg"
                         tooltip="Delete! " 
                         style="cursor: pointer"
                         placement="right">
                      </i>
                     </a>
                    </td>
                    
        
                  </tr>
                </tbody>
        
              </table>
       
              </div>
      
              </div>
                 <div class="d-flex justify-content-center pagination mt-3">
              <pagination-controls  (pageChange)="p = $event"></pagination-controls>
          </div>
            </div>
      
        </tab>


        <tab >
            <ng-template tabHeading>
                <b>Manage Teams</b>
              </ng-template>
          <div>
             <p>manage teams</p>
          </div>
        </tab>


      </tabset>
    </div>



   



    



    
  
